# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Vercel
.vercel

# Environment variables anywhere in the repo
**/.env
**/.env.local
**/.env.development.local
**/.env.production.local
**/.env.test.local